@keyframes image {
  from {transform: rotate(-30deg);}
  to {transform: rotate(70deg);}
}

img {
  width:15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:-2.5%;
  transform-origin: 50% 0;
  animation-name: image;
  animation-direction:alternate;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}